body {font-family: arial;}
.about{
position: absolute;
height: 2335px;
top: 240px;
/*background: #FFFFFF;*/
border-radius: 15px 15px 0 0;
background-color: #1D1D1B;
}

.group{
    display: flex;

}
.foto1 {
    margin: 10px 10px ;
}
.foto2 {
    margin: 10px 10px ;
}

.foto4{
    margin: 10px 10px ;
}

.foto3{
    padding: 10px 10px;
}
/*кривая картинка была*/
.house{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.blocks {
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.blocks .block {
    position: relative;
    padding: 35px 8px 8px 8px;
    margin: 3px;
    border: 1px solid #efefef;
    flex: 1;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

}
.blocks .block .circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f4135;
    transform: translate(-50%, -50%);
}
.blocks .block .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    background-color: #e1e1e1;
    padding: 4px;
    font-size: 0.5rem;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.blocks .block .text {
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #e1e1e1;
    margin-top: 5px;
    padding: 4px;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 20px;
}
