html{
/*-webkit-border-top-left-radius: 10px;*/
font-family: SBSans,Arial,Helvetica,sans-serif;
position: absolute;
height: 3000px;
top: 0;
 background-color: #000000;
/*border-radius: 15px 15px 0 0;*/
}


.group{
    margin-bottom: 40px;
 display: flex;
flex-wrap: wrap;
}
.foto1 {
    margin: 10px 10px ;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.foto2 {
    margin: 10px 10px ;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.foto3{
    margin: 10px 10px ;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.foto4{
    margin: 10px 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
/*кривая картинка была*/
.house{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.blocks {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.blocks .block {   /* background-image: radial-gradient(circle, #ffffff 0%, #848e8f 100%);*/
    background-image: linear-gradient(#efeeef, #000000);
    cursor: pointer;
    border: 0 solid #e0e0e0;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 15px 8px 8px 8px;

    margin: 3px;
   );
   /* border: 1px solid #efefef;*/
    flex: 1;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

}
.blocks .block .circle {
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 60%), linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%), /* linear-gradient(#E5E5E5, #1D1D1B 60%),*/ linear-gradient(103.91deg, #23D1AE 80%, rgba(1, 50, 35, 0) 60%);
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0f4135;
    transform: translate(-50%, -50%);
}
.blocks .block .title {

    background-image: linear-gradient(#8a8d8d, #000000);
    /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
    width: 98%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    /* background-color: #e1e1e1; */
    padding: 4px;
    font-size: 1rem;
    color: white;
    /* -webkit-border-top-left-radius: 10px; */
    /* -webkit-border-top-right-radius: 10px; */
    /* -webkit-border-bottom-right-radius: 10px; */
    /* -webkit-border-bottom-left-radius: 10px; */


}
.blocks .block .text {
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #e1e1e1;
    margin-top: 5px;
    padding: 4px;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 20px;
}
