
.header_combined{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;

    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 60%),
    linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%),
        /* linear-gradient(#E5E5E5, #1D1D1B 60%),*/ linear-gradient(103.91deg, #23D1AE 80%, rgba(1, 50, 35, 0) 60%);
    /*углы у хедера*/
/*    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;*/
    /*  background: linear-gradient(to top right, #23D1AE 40%, rgba(1, 50, 35, 0) 60%);*/
    /* opacity: 0.9;*/
}

.header_title {
    Size: 36px;
    Line-height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: whitesmoke;
    letter-spacing: 0.2em;
    font-family: Codec Pro, sans-serif
}

.header_blocks {
    display: flex;
    padding-top: 40px;
}

.header_block-left {
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #F3F2FA;
    left: 14px;
    top: 56px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 12px;
    width: 167px;
    height: 104px;
    /* margin: 14px 14px 30px 7px; */
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #73736b 59.08%) /* linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%),*/ /* linear-gradient(103.91deg, #23D1AE 0%, rgba(1, 50, 35, 0) 59.93%)*/ /* opacity: 0.9;*/;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border: 2px solid black;

}

.header_block-right {
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #F3F2FA;
    left: 14px;
    top: 56px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 12px;
    width: 167px;
    height: 104px;
    /* margin: 14px 14px 30px 7px;*/
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #73736b 59.08%)
    /*  linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%),*/
    /*   linear-gradient(103.91deg, #23D1AE 0%, rgba(1, 50, 35, 0) 59.93%)*/
    /* opacity: 0.9;*/;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border: 2px solid black;
}

.theme-color {

}