.links_catalog{
    margin-top: 5px;

    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: #F3F2FA;
    left: 14px;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
/*    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #070707 59.08%) !* linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #1D1D1B 100%),; !* linear-gradient(103.91deg, #23D1AE 0%, rgba(1, 50, 35, 0) 59.93%)*! !* opacity: 0.9;*!;

    z-index: 10;*/
    width: 100%;
   /* letter-spacing: 20em;*/
   /* position: fixed;*/
    top:7%;
    /* width: 100vw; */

    /* flex-wrap: wrap; */
/*    justify-content: space-evenly;
    font-family: 'Inter', serif;
    box-sizing: border-box;
    font-weight: 400;*/
 /*   border: 2px solid #3c3838;
    background-color: #000000;*/
    /*-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    background: linear-gradient(100.56deg, rgba(29, 29, 27, 0) 0%, #000000 60%), linear-gradient(180deg, rgba(29, 29, 27, 0) 0%, #24241f 100%), !* linear-gradient(#E5E5E5, #313335 60%),*! linear-gradient(103.91deg, #23D1AE 80%, rgba(1, 50, 35, 0) 60%);
*/
}
.nav_header{
    background-image: linear-gradient(#8a8d8d, #000000);
    margin-top: 5px;
    margin-bottom: 5px;
   /* border: 1px solid white;*/
    cursor: pointer;

}
